@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-white;
}

a {
  @apply transition-colors;
}

button {
  @apply transition-colors cursor-pointer;
}
